$primary: #0bb2b2;
@import "../node_modules/bootstrap/";

body {
  margin: 0;
  font-family: "DM Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container-lg {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.spacer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.btn-primary {
  font-weight: 600;
  font-style: italic;
}

label {
  font-weight: 500;
  font-size: 125%;
}

.title {
  text-decoration: underline;
  text-decoration-color: $primary;
}

#log-in-page form {
  width: 50%;
  margin: auto;
}

.text-label-box {
  padding: 2rem 10rem;
}

@media only screen and (max-width: 800px) {
  .text-label-box {
    padding: 2rem 2rem;
  }
}

#response {
  width: 100%;
  max-width: 100%;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  border-color: rgba(0, 0, 0, 0.5);
}

#color-select img {
  max-width: 40%;
  max-height: 40%;
  width: auto;
  height: auto;
}

.letter-preview-body {
  // background-image: url("../public/theme_1_full.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;
}

.modal-body {
  height: 660px;
  width: 100%;
}

#letter-text {
  padding: 1rem;
}

pre {
  white-space: pre-wrap;
  word-break: break-word;
}
